<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav pull-left">
		<li><a href="{{url_for('about')}}"><i class="fa fa-question"></i> &Uumlber</a></li>
		<li><a href="{{url_for('donate')}}"><i class="fa fa-gift"></i> Spenden</a></li>
		<li><a target="_blank" href="https://d.schlb.pw"><i class="fa fa-support"></i> Support</a></li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><a href="http://twitter.com/SchlaumeierTVDE" target="_blank" style="padding-left:5px; padding-right:5px;"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://d.schlb.pw" target="_blank" style="padding-left:5px; padding-right:5px;"><i class="icon-discord"></i></a></li>
		<li><a href="http://github.com/SchlaumeierTVDE" target="_blank" style="padding-left:5px; padding-right:5px;"><i class="fa fa-github"></i></a></li>
		{% if session['user'] is defined %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img src="{{session['user']|avatar}}" class="profile-image img-circle"> {{session['user']['username']}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{url_for('donate')}}"><i class="fa fa-gift"></i> {{session['user']['points']}} Points</a></li>
					<li><a href="{{url_for('select_server')}}"><i class="fa fa-gamepad"></i> Server</a></li>
					<li><a href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i> Ausloggen</a></li>
				</ul>
			</li>
		{% else %}
			<li><a href="{{url_for('login')}}"><i class="fa fa-sign-in"></i> Login</a></li>
		{% endif %}
	</ul>
</div>
